.productItem {
  height: 400px;
  position: relative;
  cursor: pointer;
}

.mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 99;
}
